V1 - Producthunt release

1. Working UI 
* Articles sorted by article date
* Fix date format
* Better quality website images
* paginated loading for inifinite scroll


2 ProductHunt
* Make thumbnail


3. Advertisement 
* Get ad newtwork
* SEO
* Affiliate marketing
* Article structured data
* Fix favicon for google search


4. Code
* Different js files for different pages
* Decouple
* Reusability
* Standardization (ex. article vs. entry)

5. Sources
* Keyword research


Action Items
* SEO 
* make articles sorted by ArticleDate
* advertisements
* keyword searching for articles








V2 Producthunt rerelease, Reddit community,

1. Email signup
    * Newsletter?
    * Exclusive stories?


